// Fontes
$fontePrincipal: 'Roboto', sans-serif;
// Esquema de cores
$corDeFundo: #f5f6fa;
$corDeTexto: #fff;
$corPrincipal: #182C61;
$corSecundaria: #44bd32;
$corDoTerciaria: #4cd137;
// Displays
$tablet: 1023px;
$mobile: 767px;
