*{
    background-color: #f0dcdc;
    box-sizing: border-box;
    margin: 20px 15%;
}
.container
{
    color: rgb(0, 0, 0);
    padding: 8px;
    display: block;

}
input{
    display: block;
    margin: none;
    padding: 2px;
    margin-bottom: 4px;
}
button{
    background-color: aliceblue;
    color: black;
    margin-right: 4px;
}
button:hover{
    background-color: pink;
}
.message{
    background-color: pink;
    padding: 16px;
    color: black;
    display: none;
}
.sucess-message{
    background-color: rgb(238, 114, 135);
    padding: 16px;
    color: #fff;
    display: none;
}