.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #eee;
}
body header{
    display: flex;
    margin-top: 36px;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}
form label{
    display: block;
    padding: 8px;
}
form input{
    width: 950px;
    max-width: 100%;
    border-width: 1px;
}
form button{
    margin-top: 15px;
    padding: 4px;
    background-color: #7dfa79;
    color: #fff;
    cursor: pointer;
    border-width: 1px;
    border-radius: 3px;
}
form input:hover{
    border-width: 2px;
}
form button:hover{
    border-width: 2px;
    background-color: #26e01f;
}